/*
========================================================================================
    Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    // Boilerplate options
    outdir = './results'
}

// Load base.config by default
includeConfig 'base.config'

// Load modules.config for DSL2 module specific options
includeConfig 'modules.config'