/*
========================================================================================
    Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

/*
 * Defines some parameters specific for the project
 */
    reads 		= '/proj/sens2021600/orig_results/fastq/*_R{1,2}.fastq.gz'
    outdir 		= "/proj/sens2021600/nobackup/results"
    metadata 	= '/proj/sens2021600/SMS-5975-21-met_bc/data/db/Additional_info_tCelemics_20210819.csv'
    nstring 	= '/proj/sens2021600/SMS-5975-21-met_bc/data/db/Report360.csv'

    }

process {
	
    scratch = true
	clusterOptions = "-A sens2021600"
}

executor {

    name = 'slurm'

    }


singularity {

    // Container options
    enabled = true
    
    }

manifest {
    name            = 'template'
    author          = 'Vincent van Hoef'
    homePage        = 'https://github.com/vincent-van-hoef/project_template'
    description     = 'Template for support projects'
    mainScript      = 'main.nf'
    //nextflowVersion = '!>=21.04.0'
    version         = '0.1'
    }
