/*
========================================================================================
    Nextflow config file
========================================================================================
    Project specific config file
----------------------------------------------------------------------------------------
*/

params {
    input = "./data/raw/calcium.csv"
    Rfun = "./src/analysis/myFunctions.R"
    Rtar = "./src/analysis/_targets.R"
    }