/*
========================================================================================
    Nextflow config file
========================================================================================
    Project specific config file
----------------------------------------------------------------------------------------
*/

params {
    input = "./data/raw/calcium.csv"
    Rfun = "./src/myFunctions.R"
    Rtar = "./src/_targets.R"
    }